
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Cupcake Directory</title>

</head>
<body>
    
    <h1>Cupcake Directory</h1>

    <div class="cupcake-display-container"></div>

    <h1>Add New Cupcake</h1>
    <form>
        {{ addform.hidden_tag() }}
        {% for field in addform if field.widget.input_type != 'hidden'%}
        <p>
          {{field.label}}
          {{field}}
    
          {% for err in field.errors %}
          {{err}}
          {% endfor %}
        </p>
        {% endfor %}
        <button>Submit</button>
    </form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>

</body>
</html>